@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
    @apply font-mono ;
}

/* Palette: https://colorhunt.co/palette/222831393e4600adb5eeeeee */
@theme {
    --color-light: #fafbfc;
    --color-dark: #2b3137;
    --color-darker: #24292e;
}